
\.vscode/launch\.json

\.idea/

2021/scratch/
/2023/*/input.txt
/2023/*/testInput.txt
/2023/*/testInput2.txt
/2023/*/testInput3.txt
/2024/*/testInput.txt
/2024/*/input.txt
/*/*/input
/*/*/input.txt
/*/*/testinput.txt
/*/*/*_input.txt
/*/*/*_testinput.txt
/*/*/*_testInput.txt
/*/*/testInput.txt
/*/*/input_test.txt
/*/*/input_test?.txt
/*/*/inputTest.txt
/*/*/*-input.txt
/*/*/testinput?.txt
/*/*/testTestInput.txt
/*/*/smallTestInput.txt
/*/*/testinput?.txt
/*/*/testInput?.txt
/*/*/tinyTest.txt

